/* 





 */

body {
	padding: 3rem;
}

td {
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	height: 50px;
	width: 50px;
	text-align: center;
	border: 1px black solid;
	padding: 3px;
	background-color: rgba(82, 82, 82, 0.637);
	border-radius: 7px;
}

td:hover {
	color: rgba(250, 42, 42, 0.76);
	background-color: rgba(248, 126, 126, 0.76);
}

form {
	margin-top: 15px;
}

.msg {
	padding: 1em;
}

.msg.ok {
	color: white;
	background-color: green;
}

.msg.err {
	color: white;
	background-color: tomato;
}
