<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle Game</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="static/app.css">
</head>
<body>
    <h1>Boggle Game</h1>
    <main id="gameboard">
        {% block content %} {% endblock %}
    </main>
    <section id="guess">
        <form action="/guess" method="post">
            <input type="text" name="guess">
            <button type="submit">Submit Guess</button>
        </form>
    </section>

    <script src="http://unpkg.com/jquery"></script>
    <script src="http://unpkg.com/axios/dist/axios.js"></script>
    <script src="static/app.js"></script>
</body>
</html>